// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~materialize-css/sass/materialize';
@import '~bootstrap/scss/bootstrap';
@import '~vuetify/dist/vuetify.min.css';
// @import '~admin-lte/dist/css/adminlte.min.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.sch-group{
    width: 325px;
    margin: 5px 15px;
}
.full-page{ height: 100%;} 
.btn-add{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
.card-row{
    margin: auto -20px;
    border-bottom: 0;
}

.student-card{
    width: 320px;
    margin: 8px 8px;
}
.student-card .list-sm, .list-sm{
    min-height: 30px !important;
    height: 30px !important;
} 
.form-control{
    border: none;
    border-bottom: 1px solid #ced4da;
}
.jcc{
    display: flex;
    justify-content: center;
}
.img-up{
    width: 15px;
    height: 15px;
    top: 110px;
    left: -10px;
    position: relative;
}
.btn-success{
    background-color: #009688!important;
    border-color: #009688!important;
    color: white;
}
@media screen and(min-width: 998px){
    .img-rev{
        position: relative;
        top: -120px;
    }
}
@media screen and(min-width: 1260px){
    .side-menu-cont{
        padding: 60px 0px 0px 260px !important;
    }
}
.side-menu-cont{
    padding: 60px 0px 0px 0px;
}
.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 4px;
}
.card-title.caption {
    color: white;
    // float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px; 
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}

.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color: #fff;
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: #fff;
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: .7; color: #fff;
    filter: alpha(opacity=70);
}
.text-ghost{
    color: #e1e1e1 !important;
}
.calendar-sub{
    margin-left: 50px;
    margin-top: 20px;
}
.fa-hero{
    font-size: 150px !important;
    margin-left: 20px;
}